.home-container {
    width: 100%;
    height: 100%;
    .home-wrapper {
        width: 100%;

        .home-swipers-banner {
            img {
                width: 100%;

            }
        }
    }
}
