.footer-container {
    width: 100%;
    max-width: 600px;
    height: 56px;
    position: fixed;
    bottom: 0;
    z-index: 10;

    .footer-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #d2d5d6;
        border-left: 1px solid #d2d5d6;
        border-right: 1px solid #d2d5d6;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: white;

        .footer-item {
            cursor: pointer;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 12px;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }
}
